Repository Hae-Riri/board, pull requests merged in 2022-02, with the labels that each got.

#8 🎉 init: frontend settings
  .DS_Store
  .vscode/settings.json
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/.prettierrc.js
  frontend/config/webpack.common.js
  frontend/config/webpack.dev.js
  frontend/config/webpack.prod.js
  frontend/env/.env.local
  frontend/package.json
  frontend/public/error.html
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/public/sitemap.xml
  frontend/report/report.html
  frontend/report/stats.json
  frontend/src/App.tsx
  frontend/src/css/index.css
  frontend/src/index.tsx
  frontend/src/pages/Article.tsx
  frontend/src/pages/Home.tsx
  frontend/src/routes/index.ts
  frontend/src/routes/paths.ts
  frontend/src/routes/routes.ts
  frontend/src/utils/urls.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: frontEnd

#9 Feature/#7 backend setting
  .gitignore
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/example/backend/BackendApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/example/backend/BackendApplicationTests.java
Labels: backEnd

#13 create lottie spinner
  .gitignore
  frontend/config/webpack.common.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/asset/loading-vote.json
  frontend/src/components/Spinner.tsx
  frontend/src/components/index.ts
  frontend/src/css/index.scss
  frontend/src/css/spinner/vote-spinner.scss
  frontend/src/index.tsx
  frontend/src/pages/Home.tsx
  frontend/src/types/images.d.ts
  frontend/yarn.lock
Labels: frontEnd

#15 create home page
  frontend/src/App.tsx
  frontend/src/components/Blur/Blur.tsx
  frontend/src/components/Blur/index.ts
  frontend/src/components/Button/Button.tsx
  frontend/src/components/Button/index.ts
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/Footer/index.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/index.ts
  frontend/src/components/Search/Search.tsx
  frontend/src/components/Search/index.ts
  frontend/src/components/Section/Section.tsx
  frontend/src/components/Section/index.ts
  frontend/src/components/Spinner/Spinner.tsx
  frontend/src/components/Spinner/index.ts
  frontend/src/components/Text/Text.tsx
  frontend/src/components/Text/index.ts
  frontend/src/components/Title/Title.tsx
  frontend/src/components/Title/index.ts
  frontend/src/css/components/blur.scss
  frontend/src/css/components/footer.scss
  frontend/src/css/components/index.scss
  frontend/src/css/components/search.scss
  frontend/src/css/components/vote-spinner.scss
  frontend/src/css/index.scss
  frontend/src/css/pages/home.scss
  frontend/src/pages/Home.tsx
Labels: frontEnd

#20 Frontend 비동기 데이터 처리 로직 작성
  .vscode/settings.json
  frontend/mock-server/test.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/collections/ArticleCollection/Article.tsx
  frontend/src/collections/ArticleCollection/ArticleList.tsx
  frontend/src/collections/ArticleCollection/index.tsx
  frontend/src/components/Blur/index.ts
  frontend/src/components/Button/Button.tsx
  frontend/src/components/Button/index.ts
  frontend/src/components/Footer/index.ts
  frontend/src/components/Header/index.ts
  frontend/src/components/Search/index.ts
  frontend/src/components/Section/Section.tsx
  frontend/src/components/Section/index.ts
  frontend/src/components/Spinner.tsx
  frontend/src/components/Spinner/index.ts
  frontend/src/components/Text/index.ts
  frontend/src/components/Title/index.ts
  frontend/src/components/index.ts
  frontend/src/contexts/Store.tsx
  frontend/src/models/ArticleModel.ts
  frontend/src/pages/Home.tsx
  frontend/src/repositories/HomeRepository.ts
  frontend/src/stores/HomeStore.ts
  frontend/src/stores/RootStore.ts
  frontend/src/stores/UIStore.ts
  frontend/src/utils/api.ts
  frontend/yarn.lock
Labels: frontEnd

#27 Feature/#26 db setting
  .gitignore
  backend/build.gradle
  backend/sql/schema.sql
  backend/src/main/resources/application.properties
Labels: backEnd

#36 Feature/#35 logging setting
  .gitignore
  backend/src/main/resources/application.yaml
  backend/src/main/resources/application.yml
Labels: backEnd

#37 feat: :sparkles: JPA Auditing setup #28
  backend/build.gradle
  backend/src/main/java/com/example/backend/BackendApplication.java
  backend/src/main/java/com/example/backend/domain/BaseTimeEntity.java
Labels: backEnd

#40 Feature/#29 entity setting
  backend/src/main/java/com/example/backend/domain/Article.java
  backend/src/main/java/com/example/backend/domain/ArticleCategory.java
  backend/src/main/java/com/example/backend/domain/ArticleComment.java
  backend/src/main/java/com/example/backend/domain/VoteHistory.java
  backend/src/main/resources/application.yaml
Labels: backEnd

#42 feat: :sparkles: make new package to collect front-end build files #41
  backend/src/main/resources/index.html
  backend/src/main/resources/static/208.bundle.2c4aa6596f3e8baddf85.js
  backend/src/main/resources/static/208.bundle.2c4aa6596f3e8baddf85.js.LICENSE.txt
  backend/src/main/resources/static/367.bundle.9b3b768c58d2b33adbad.js
  backend/src/main/resources/static/app.bundle.10b3bf995235c38763cc.js
  backend/src/main/resources/static/app.css
  backend/src/main/resources/static/error.html
  backend/src/main/resources/static/index.html
  backend/src/main/resources/static/manifest.json
  backend/src/main/resources/static/robots.txt
  backend/src/main/resources/static/runtime~app.bundle.4dbc52b5ee1af501999d.js
  backend/src/main/resources/static/sitemap.xml
  backend/src/main/resources/static/vendor.bundle.b18606eec571cee9dfee.js
  backend/src/main/resources/static/vendor.bundle.b18606eec571cee9dfee.js.LICENSE.txt
Labels: frontEnd, backEnd

#47 feat: ✨ spinner
  frontend/src/collections/HomeCollection/index.tsx
  frontend/src/collections/SearchResultCollection/index.tsx
  frontend/src/components/History/History.tsx
  frontend/src/css/components/vote-spinner.scss
  frontend/src/css/components/z-index.scss
  frontend/src/css/spinner/vote-spinner.scss
  frontend/src/models/ArticleModel.ts
  frontend/src/repositories/HomeRepository.ts
  frontend/src/repositories/SearchResultRepository.ts
  frontend/src/stores/HomeStore.ts
  frontend/src/stores/SearchResultStore.ts
  frontend/src/utils/api.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/utils.ts
Labels: frontEnd

#51 Feature/#45 board get post
  backend/sql/schema.sql
  backend/src/main/java/com/example/backend/controller/ArticleController.java
  backend/src/main/java/com/example/backend/domain/Article.java
  backend/src/main/java/com/example/backend/dto/ArticleCategoryDto.java
  backend/src/main/java/com/example/backend/dto/ArticleGetResponse.java
  backend/src/main/java/com/example/backend/dto/ArticlePostRequest.java
  backend/src/main/java/com/example/backend/dto/BaseResult.java
  backend/src/main/java/com/example/backend/dto/ListResult.java
  backend/src/main/java/com/example/backend/dto/SingleResult.java
  backend/src/main/java/com/example/backend/repository/ArticleCategoryRepository.java
  backend/src/main/java/com/example/backend/repository/ArticleRepository.java
  backend/src/main/java/com/example/backend/service/ArticleService.java
  backend/src/main/java/com/example/backend/service/ResponseService.java
Labels: backEnd

#58 feat: ✨ get api 변경에 따른 프런트 코드 변경
  frontend/src/repositories/HomeRepository.ts
Labels: frontEnd

#66 feat: ✨ readmore 구현
  frontend/src/collections/HomeCollection/index.tsx
  frontend/src/collections/SearchResultCollection/index.tsx
  frontend/src/components/TimeLine/TimeLine.tsx
  frontend/src/repositories/HomeRepository.ts
  frontend/src/stores/HomeStore.ts
  frontend/src/stores/SearchResultStore.ts
  frontend/src/stores/UIStore.ts
Labels: frontEnd

#33 Feature/#16 article form
  frontend/package.json
  frontend/src/collections/HomeCollection/index.tsx
  frontend/src/components/EditButton/EditButton.tsx
  frontend/src/components/EditButton/index.ts
  frontend/src/components/EditModal/EditModal.tsx
  frontend/src/components/EditModal/index.ts
  frontend/src/components/EditorCategoriesSection/EditorCategoriesSection.tsx
  frontend/src/components/EditorCategoriesSection/index.ts
  frontend/src/components/EditorContentSection/EditorContentSection.tsx
  frontend/src/components/EditorContentSection/index.ts
  frontend/src/components/EditorPasswordSection/EditorPasswordSection.tsx
  frontend/src/components/EditorPasswordSection/index.ts
  frontend/src/models/EditorModel.ts
  frontend/src/pages/Home.tsx
  frontend/src/repositories/EditRepository.ts
  frontend/src/stores/EditStore.ts
  frontend/src/stores/RootStore.ts
  frontend/yarn.lock
Labels: frontEnd

#43 Feature/#34 article page
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  backend/src/main/java/com/example/backend/common/config/WebMvcConfig.java
  backend/src/main/java/com/example/backend/controller/error/ErrorController.java
  frontend/.gitignore
  frontend/mock-server/test.json
  frontend/package.json
  frontend/src/collections/ArticleCollection/index.tsx
  frontend/src/components/Article/Article.tsx
  frontend/src/components/Article/index.ts
  frontend/src/components/ArticleCommentSection/ArticleCommentSection.tsx
  frontend/src/components/ArticleCommentSection/index.ts
  frontend/src/components/ArticleModal/ArticleModal.tsx
  frontend/src/components/ArticleModal/index.ts
  frontend/src/components/Comment/Comment.tsx
  frontend/src/components/Comment/index.ts
  frontend/src/components/CommentList/CommentList.tsx
  frontend/src/components/CommentList/index.ts
  frontend/src/components/History/History.tsx
  frontend/src/css/index.scss
  frontend/src/models/ArticleModel.ts
  frontend/src/models/CommentModel.ts
  frontend/src/pages/Article.tsx
  frontend/src/repositories/ArticleRepository.ts
  frontend/src/stores/ArticleStore.ts
  frontend/src/stores/RootStore.ts
  frontend/src/stores/UIStore.ts
  frontend/yarn.lock
Labels: frontEnd
